<div class="mv-container">
  <main-view-header class="header"></main-view-header>

  <div id="main" class="main">
    <!-- Start main-content -->
    <div class="main-content">
      <main-menu-item
        icon="av-icon-input-laptop"
        text="Laptop"
        info-text="Not Connected"
      >
      </main-menu-item>

      <main-menu-item
        icon="av-icon-input_hdmi"
        text="HDMI"
        info-text="1024 x 768"
      >
      </main-menu-item>

      <main-menu-item
        icon="av-icon-pc"
        text="Computer"
        info-text="Ready"
      ></main-menu-item>

      <main-menu-item
        icon="av-icon-confroom"
        text="Conference"
        info-text="Ready"
      ></main-menu-item>

      <main-menu-item icon="av-icon-bulb-1" text="Lights On"> </main-menu-item>

      <main-menu-item icon="av-icon-bulb-2" text="Lights Off"> </main-menu-item>

      <main-menu-item icon="av-icon-screen-d" text="Screen Down">
      </main-menu-item>

      <main-menu-item icon="av-icon-screen-u" text="Screen Up">
      </main-menu-item>
    </div>
    <!-- End main-content -->
  </div>

  <main-view-footer class="footer"></main-view-footer>
</div>

<link type="text/css" rel="stylesheet" href="./components/main-view.css" />
